/* ***********General Styles ************** */

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: #000;
  opacity: 0.9;
  width: 100%;
  margin: 0;
}

/*h1 {
  font-style: normal;
  font-size: .75em;
}*/
/* ******header styles ********** */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  background-color: #000;
  z-index: 1;
}

#header img {
  height: 50px;
  margin-left: 10px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: underline;
  color:inherit;
  /*padding-left: 20px;*/
  margin-right: 25px;
}

/* ********** Main content div styles *************** */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
  width: auto;
  background-color: #000;
}

/* ********* Jumbotron Section Here ************ */

/*#jumbotron {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*align-content: center;*/
  /*flex-wrap: wrap;*/
/*}*/

#jumbotron {
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  align-content: center;
}

.jumbo_tagline {
  width: 1200px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.jumbo_tagline h2 {
  font-size: 1.4em;
  margin: 5px 0px 5px 0px;
}

.jumbo_tagline h4 {
  font-size: 1em;
  margin: 5px 0px 5px 0px;
}



#products {
  display: flex;
  justify-content: flex-start;
}
