/* ***********General Styles ************** */

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: #000;
  opacity: 0.9;
  width: 100%;
  margin: 0;
}

/* ******header styles ********** */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  background-color: #000;
  z-index: 1;
}

#header img {
  height: 50px;
  margin-left: 10px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: underline;
  color:inherit;
  margin-right: 25px;
}

/* ********** Main content div styles *************** */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 90px;
  width: 100%;
  color: inherit;
}

/* ********* Jumbotron Section Here ************ */


#jumbotron {
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  color: seashell;
}

.jumbo_tagline {
  width: 1200px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.jumbo_tagline h2 {
  font-size: 1.4em;
  margin: 5px 0px 5px 0px;
}

.jumbo_tagline h4 {
  font-size: 1em;
  margin: 5px 0px 5px 0px;
}

/* ************** Product Section Styles Here ****************/

#products {
  width: 1000px;
  width: 100%;
  margin-top: 50px;
}

#products h2 {
  text-align: center;
  color: seashell;
  margin-top: 5px;
  margin-bottom: 5px;
}

#products h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}


.products_bg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  height: auto;
  flex-wrap: wrap;
}

.products_bg p {
  background-color: white;
  width: 300px;
  height: 200px;
}

.product_offer {
  width: 300px;
  height: 250px;
  margin: 10px;
}

.product_offer img {
  height: 200px;
  width: 300px;
}

.product_offer h6 {
  text-align: center;
  margin-top: 10px;
}

/********************** Locations Styles Here **********************/

#locations {
  background-image: url("../images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
  text-align: center;
}

#locations h2 {
  margin-top: 45px;
  margin-bottom: 15px;
}

.locations_bg {
  display: flex;
  justify-content: center;
}

.location {
  width: 300px;
  background-color: #000;
  margin-right: 40px;
}

.location p {
  font-size: .8em;
  opacity: 1;
}

/********************** Contact Styles Here *********************/

#contact {
  text-align: center;
  height: 200px;
}

#contact h3 {
  font-size: 1em;
}

#contact h5 {
  font-size: .75em;
}

.phone {
  font-size: .75em;
}

/******************** Footer Styles Here *********************/
#footer p {
  font-size: .6em;
  margin-left: 20px;
}
