/* ***********General Styles ************** */

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: #000;
  opacity: 0.9;
  width: 100%;
  margin: 0;
}

/*h1 {
  font-style: normal;
  font-size: .75em;
}*/
/* ******header styles ********** */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  background-color: #000;
  z-index: 1;
}

#header img {
  height: 50px;
  margin-left: 10px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: underline;
  color:inherit;
  /*padding-left: 20px;*/
  margin-right: 25px;
}

/* ********** Main content div styles *************** */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
  width: auto;
  background-color: pink;
}

/* ********* Jumbotron Section Here ************ */


#jumbotron {
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  align-content: center;
}

.jumbo_tagline {
  width: 1200px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbo_tagline h2 {
  font-size: 1.4em;
  margin: 5px 0px 5px 0px;
}

.jumbo_tagline h4 {
  font-size: 1em;
  margin: 5px 0px 5px 0px;
}

/* ************** Product Section Styles Here ****************/

#products {
  width: 1000px;
  /*background-color: purple;*/
  width: 100%;
}

#products h2 {
  text-align: center;
  color: green;
}

#products h4 {
  text-align: center;
  color: lavender;
}

.products_bg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  color: black;
  background-color: yellow;
  width: auto;
  height: auto;
  /*border: 1px solid black;*/
  flex-wrap: wrap;
}

.products_bg p {
  background-color: white;
  width: 300px;
  height: 200px;
}

.product_offer {
  background-color: blue;
  width: 300px;
  height: 250px;
  margin: 10px;
}

.product_offer img {
  height: 200px;
  width: 300px;
}

.product_offer h6 {
  text-align: center;
  margin-top: 10px;
  /*margin-bottom: 5px;*/
}
